.form-field
/* ===========================
     Author: Bhargav Gandhi (BG)
     Description: contact.scss
     =========================== */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  background: #e1e1e1 !important;
  color: #9D98A5 !important;
  /*border: 1px solid #D6E9C6 !important;*/
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #EED3D7 !important;
  background-color: #B94A48 !important;
  /*border: 0px solid #EED3D7 !important;*/
}

.parsley-error {
  input.radio,
  input[type=radio] {
    border: 1px solid #B94A48 !important;
  }
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  display: none;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.contact-block {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.contact-form-block {
  height: 100%;

  #contact-form-main {
    max-width: 600px;
  }
  .contact-form-inner{
    width: 45%;
  }
}
/* form styles */
form {
  .form-field {
    margin: 0 auto 1em;
    text-align: left;
    outline: none;
    font-family: $archivoNarrow;
  }

  .slant-input {
    width: 90%;
    height: 25px;
    padding: 0 15px 0 10px;
    margin: 0;
    background: #e1e1e1;
    display: block !important;
    outline: none;
    font-family: $archivoNarrow;
    text-align: left;
    color: #6f6e6e;
    -webkit-font-smoothing: antialiased;
  }

  .slant-right {
    width: 93%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      display: inline-block;
      border-bottom: 40px solid #fff;
      border-right: 25px solid #fff;
      border-color: transparent #fff transparent transparent;
    }
  }

  .slant-right-2 {
    width: 102%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      display: inline-block;
      border-bottom: 40px solid #fff;
      border-right: 25px solid #fff;
      border-color: transparent #fff transparent transparent;
    }
  }

  .slant-left {
    width: 98%;
    padding-left: 25px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      border-top: 40px solid #fff;
      border-left: 25px solid #fff;
      border-color: transparent transparent transparent #fff;
    }
  }

  .slant-left-2 {
    width: 89%;
    padding-left: 25px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      border: 0;
      outline: 0;
      border-radius: 0;
      border-shadow: 0;
      border-top: 40px solid #fff;
      border-left: 25px solid #fff;
      border-color: transparent transparent transparent #fff;
    }
  }

  input {
    width: 100%;
    height: 25px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    border-radius: 0 !important;
    display: block !important;
    outline: none;
    font-family: $archivoNarrow;
    font-size: 12px;
    font-size: 0.8em;
    line-height: 1.75;
    letter-spacing: -0.1px;
    text-align: left;
    color: #6f6e6e;
    -webkit-font-smoothing: antialiased;
  }

  textarea {
    width: 100%;
    height: 170px;
    padding: 10px;
    margin: 0;
    background: #e1e1e1;
    border: 0;
    font-family: $archivoNarrow;
    text-align: left;
    font-size: 12px;
    font-size: 0.8em;
    line-height: 1.75;
    letter-spacing: -0.1px;
    color: #6f6e6e;
    display: block !important;
    outline: none;
    resize: none;
    -webkit-font-smoothing: antialiased;
  }

  #message {
    width: 100% !important;
    color: #6f6e6e;
    font-size: 12px;
    font-size: 0.8em;
    font-family: $archivoNarrow;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
  }

  #Submit {
    clear: both;
    display: block;
    border: 0;
    padding: 0 15px 0 10px;
    background: #249c84;
    background-image: url("../images/submit-arrow.svg");
    background-repeat: no-repeat;
    background-size: 6px 15px;
    background-position: 90%;
    float: none !important;
    outline: none;
    width: 85px;
    margin: 0;
    border-radius: 0 !important;
    font-family: $archivoNarrow;
    font-size: 12px;
    font-size: 0.8em;
    line-height: 1.75;
    letter-spacing: -0.1px;
    text-align: left;
    color: #fff;
    -webkit-font-smoothing: antialiased;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #6f6e6e;
    font-size: 12px;
    font-size: 0.8em;
    font-family: $archivoNarrow;
    letter-spacing: 0;
    // -webkit-font-smoothing: antialiased;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #6f6e6e;
    font-size: 12px;
    font-size: 0.8em;
    font-family: $archivoNarrow;
    letter-spacing: 2px;
    word-spacing: 2px;
    // -webkit-font-smoothing: antialiased;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #6f6e6e;
    font-size: 12px;
    font-size: 0.8em;
    font-family: $archivoNarrow;
    letter-spacing: 0;
    // -webkit-font-smoothing: antialiased;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #6f6e6e;
    font-size: 12px;
    font-size: 0.8em;
    font-family: $archivoNarrow;
    letter-spacing: 0;
    // -webkit-font-smoothing: antialiased;
  }

  h2 {
    font-size: 16px;
    font-size: 1em;
  }

  a {
    margin-top: 2%;
    font-size: 16px;
    font-size: 1em;
  }
}
/*@supports (overflow:-webkit-marquee) and (justify-content:inherit)
     {

       form select{
             text-indent: 40%;
             }

     }
     _::-webkit-:not(:root:root), .content form select{
             text-indent: 40%;
             }

     @supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true))
     and (not (-moz-appearance:none))
     {

        form select{
             text-indent: 40%;
             }

             }*/
option {
  text-align: left;
  /* reset to left*/
}

form select > option {
  padding: 20px;
}

form select option#first {
  color: #fff;
}

form {
  .form-field {
    margin-right: -5px;
  }
}

.contact-content-block {
  height: 100%;
  margin-left: 7.5%;
  vertical-align: top;

  .contact-info {
    margin: 1em 0;
  }

  p {
    margin: 0 0 2em;
    font-family: $archivoNarrow;
    font-size: 15px;
    font-size: 0.94em;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
  }

  a,
  h3,
  h4 {
    font-family: $archivoNarrow;
    font-size: 16px;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.13;
    text-align: left;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  h3 {
    font-family: $fontStack;
    font-weight: bold;
    color: #249c84;
  }
}

.contact-footer {
  position: absolute;
  bottom: 10%;

  img {
    max-width: 100%;
  }

  .himmel-logo,
  .merginoff-logo {
    display: inline-block;
  }

  .merginoff-logo {
    width: 32%;
  }

  .himmel-logo {
    width: 53%;
    margin-left: 8%;
  }

  .rebny-logo {
    margin-top: 2.7%;
    width: 13.5%;
  }

  .contact-copyrights,
  .contact-footer-links {
    display: inline-block;
    margin: 1em 0;
  }

  .contact-copyrights {
    margin: 0 30px 0 0;

    p {
      font-family: $archivoNarrow;
      font-size: 12px;
      font-size: 0.8em;
      line-height: 1.75;
      letter-spacing: -0.1px;
      text-align: left;
      color: #6f6e6e;
    }
  }

  .contact-footer-links {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 20px 0 0;

        a {
          font-family: $archivoNarrow;
          font-size: 12px;
          font-size: 0.8em;
          line-height: 1.75;
          letter-spacing: -0.1px;
          text-align: left;
          color: #6f6e6e;
        }
      }
    }
  }
}
/*Mobile CSS for Contact Page */
@media screen and (min-width: 300px) and (max-width: 999px) {}
@media screen and (min-width: 300px) and (max-width: 767px) {
  form input {
    width: 100%;
    font-size: 16px;
    font-size: 1.15em;
  }

  form #Submit {
    width: 125px;
    font-size: 14px;
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {}
