/* ===========================
     Author: Bhargav Gandhi (BG)
     Description: main.scss
     =========================== */
//set the grid gap
$gridgap: 7.5%;

.center-inner {
  width: 100%;
  height: auto;
  margin-left: -50%;
  text-align: center;
  max-width: 100%;
}

.btn {
  clear: both;
  display: block;
  font-family: $fontStack;
  font-size: 14px;
  font-size: 0.875em;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
  padding: 1.4em;
  background: transparent;
  border: 1px solid #c09260;
  background: transparent;
  margin-right: 3em;
  float: none !important;
  outline: none;
  max-width: 220px;
  max-width: 16em;
  margin: 10px auto 0;
  -webkit-font-smoothing: antialiased;
  border-radius: 0 !important;
}

img {
  display: block;
}

.mainCopy {
  p {
    text-align: left;
    font-family: $archivoNarrow;
    font-size: 24px;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.5px;
    color: #333333;
    max-width: 37.5em;
  }
}

.green-text {
  color: #249c84;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.06;
  text-align: left;
  color: #000000;
  margin: 10px auto;
}

h2 {
  font-size: 39px;
  font-weight: bold;
  line-height: 0.85;
  text-align: left;
  color: #249c84;
  margin: 10px auto;
}

blockquote {
  p {
    font-family: $archivoNarrow;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
    margin: 10px auto;
  }

  footer {
    font-family: $archivoNarrow;
    color: inherit;
    margin-top: 1em;

    &:before {
      content: "";
    }
  }
}

.main-block {
  width: 80%;
  margin: 0 auto;
  height: 100vh;

  svg {
    overflow: visible;
    height: 95%;

    g {
      margin: 0 auto;
      text-align: center;
      // transform-origin: center center;
      // transform: translate3d(12%, 0, 0);
      // transform-origin: center center;
      a {
        text-decoration: none;
        display: block;

        &:focus,
        &:hover,
        &:visited {
          text-decoration: none;
          color: inherit;
        }

        image {
          transition: opacity 0.1s linear;
        }
      }

      .home-image {
        &:hover {
          .home-image-a {
            opacity: 0;
          }

          .home-image-b {
            opacity: 1;
          }
        }
      }
      .hide-image{
        opacity: 0;
      }
      .show-image{
        opacity: 1;
      }

      // .home-image-c{
      //   &:hover{
      //     &.home-image-a1, &.home-image-f1, &.home-image-h1 {
      //       opacity: 0;
      //     }
      //     &.home-image-a2, &.home-image-f2, &.home-image-h2 {
      //       opacity: 1;
      //     }
      //   }
      // }

      // .home-image-c:hover .home-image-a1{
      //   opacity: 0;
      // }

      .left-blocks {
        transform: translate3d(-100px, 0, 0);
        animation: leftBlocks 1s both cubic-bezier(0.74, 0.09, 0.14, 1.04);
        animation-delay: 1.5s;
      }

      .left-blocks2 {
        transform: translate3d(-150px, 0, 0);
        animation: leftBlocks2 1s both cubic-bezier(0.74, 0.09, 0.14, 1.04);
        animation-delay: 1.5s;
      }

      .right-blocks {
        transform: translate3d(100px, 0, 0);
        animation: rightBlocks 1s both cubic-bezier(0.74, 0.09, 0.14, 1.04);
        animation-delay: 1.5s;
      }

      .right-blocks2 {
        transform: translate3d(150px, 0, 0);
        animation: rightBlocks2 1s both cubic-bezier(0.74, 0.09, 0.14, 1.04);
        animation-delay: 1.5s;
      }

      .left-heading {
        font-size: 32px;
        font-size: 2em;
        font-weight: bold;
        text-align: left;
        color: #249c84;

        .head-text1,
        .head-text2 {
          color: #249c84;
          fill: #249c84;
        }
      }

      .left-para {
        width: 53%;
        min-height: 200px;
        text-align: left;

        .left-para-p {
          font-family: $archivoNarrow;
          font-size: 14px;
          font-size: 0.875em;
          line-height: 1.4;
          text-align: left;
          color: #000;
          fill: #000;
          letter-spacing: 0.3px;
        }

        p {
          font-family: $archivoNarrow;
          font-size: 14px;
          font-size: 0.875em;
          line-height: 1.4;
          text-align: left;
          color: #000;
          fill: #000;
          letter-spacing: 0.3px;
        }
      }

      .12w27-main {
        pointer-events: none;
      }

      .12w27-black {
        pointer-events: none;
      }

      .12w27:hover {
        .12w27-main {
          opacity: 0;
        }

        .12w27-black {
          opacity: 1;
        }
      }
    }
  }
}
@keyframes leftBlocks {
  0% {
    transform: translate3d(-100px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes leftBlocks2 {
  0% {
    transform: translate3d(-150px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rightBlocks {
  0% {
    transform: translate3d(100px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rightBlocks2 {
  0% {
    transform: translate3d(150px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.main-block2 {
  height: 100vh;
  position: relative;

  .left-sec,
  .right-sec {
    display: inline-block;
    width: auto;
    min-width: 50%;
    overflow: visible;
    vertical-align: top;

    .float-block,
    img {
      margin: 1em 0;
      position: absolute;
    }

    .left-image-1 {
      top: 0;
      left: $gridgap;
      width: 31%;
    }

    .left-image-2 {
      top: 40%;
      left: $gridgap;
      width: 34%;
    }

    .left-image-3 {
      top: 48%;
      left: $gridgap;
      width: 36.8%;
    }

    .left-block-4 {
      bottom: 12%;
      left: $gridgap;
      width: 45%;
    }

    .left-image-4 {
      bottom: 3.75%;
      left: $gridgap;
      width: 51.15%;
    }
    //Right Side Section Images
    .right-image-1 {
      top: 0;
      right: $gridgap;
      width: 61.5%;
    }

    .right-image-2 {
      top: 8%;
      right: $gridgap;
      width: 58.5%;
    }

    .right-image-3 {
      top: 32%;
      right: $gridgap;
      width: 49.9%;
    }

    .right-image-4 {
      top: 40%;
      right: $gridgap;
      width: 47%;
    }
  }

  .left-sec {
    margin-right: -15px;
  }
}
