/* ===========================
     Author: Bhargav Gandhi (BG)
     Description: testimonials.scss
     =========================== */
.map-block {
  margin: 2.5em 1em 2.5em 0;
}

.map-block,
.map-list-block-main {
  vertical-align: top;
}

.map-list-block-main {
  margin-left: 3%;

  h2 {
    font-family: $fontStack;
    font-size: 39px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #249c84;
    max-width: 80%;
    margin: 1.25em 0 25px;
  }

  .map-list-block {
    display: flex;

    .map-lists-row {
      flex: 1;
    }
  }

  .map-transport-lists {
    .map-lists {
        margin: 0.5em 0;
      img {
        max-width: 70%;
      }

      .citibike-icon {
        max-width: 40%;
      }

      h3 {
        line-height: 3;
      }
    }
  }

  .map-lists {
    margin: 1em 0;

    h3 {
      font-family: $fontStack;
      font-size: 14px;
      font-size: 0.85em;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: normal;
      color: #249c84;
    }

    ol {
      list-style: none;
      counter-reset: Item;

      li {
        font-family: $archivoNarrow;
        font-size: 11px;
        line-height: 1.25;
        letter-spacing: -0.2px;
        text-align: left;
        color: #000000;

        &:before {
          content: counter(Item) "- ";
          counter-increment: Item;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .map-btns{
    cursor: pointer;
  }
}
