/* ===========================
     Author: Bhargav Gandhi (BG)
     Description: testimonials.scss
     =========================== */

.testimonials-block{
  margin: 0 auto;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.06;
  text-align: left;
  color: #000000;
  margin: 10px auto;
}

h2 {
  font-size: 39px;
  font-weight: bold;
  line-height: 0.85;
  text-align: left;
  color: #249c84;
  margin: 1.25em auto 25px;
}

blockquote {
  p {
    font-family: ArchivoNarrow;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
    margin: 10px auto;
  }

  footer{
    color: inherit;
    margin-top: 1em;
    &:before{
      content: ""
    }
  }
}
